<div class="card mt-4">
  <div class="card-header">
    Customers
  </div>
  <div class="card-body">
      <form class="row" [formGroup]="formGroup" (ngSubmit)="searchCustomers()">
        <div class="col-6">
          <input type="text" class="form-control" formControlName="keyword">
        </div>
        <div class="col-3">
          <button class="btn btn-success">Search</button>
          <button type="button" class="btn btn-success ms-1" (click)="toAddCustomer()">Add new customer</button>
        </div>
      </form>
    <table class="table" *ngIf="customers">
      <thead>
      <tr>
        <th>#Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>email</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers">
        <th>{{customer.id}}</th>
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
        <td>{{customer.email}}</td>
        <td class="d-flex flex-row">
          <button (click)="toCustomerAccounts(customer.id)" type="button" class="btn btn-secondary btn-sm"><i class="bi bi-eye"></i></button>
          <button *ngIf="authStateService.hasRole('ADMIN')" (click)="deleteCustomer(customer)" type="button" class="btn btn-danger btn-sm ms-2"><i class="bi bi-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
